/* Source: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input.withoutArrows::-webkit-outer-spin-button,
input.withoutArrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.verticalDiv {
    display: flex;
    flex-direction: column;
}

.arrowBtn {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 5px;
}

.genreInputBox {
    width: 100%;
}

.profileIcon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.profileContent {
    /* border: 1px solid black; */
    text-align: center;
    /* padding: 10px 0px;    */

    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
}

.profileTabs {
    /* padding-bottom: 5px; */
    /* border-bottom: 1px solid black; */
    color: black;
    display: flex;
}

.profileTab {
    width: 33.333333%;
    /* border: 1px solid black; */
    /* border-bottom: none; */
    padding: 5px 0px;
    display: inline-block;
    margin: 0px;
    margin-bottom: 5px;
    /* border-radius: 10px 10px 0px 0px; */
    border-bottom: 1px solid;
}

.activeTab {
    color: #fd004c;;
    /* border: 1px solid black; */
    border-bottom: none;
    font-weight: bold;
}

.tabContent {
    padding: 15px;
}