{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}

    <form method="POST" action="{{url_for('auth.HandleLogin')}}">
        <h5>Don't have an account yet? <a href="/auth/signup">Click here</a> to sign up.</h5><br>
        <div class="form-group">
            <label for="key">Enter your email or username</label>
            <input type="text" class="form-control" name="key" placeholder="Enter your email or username..." required autofocus class="required">
        </div>
        <div class="form-group">
            <label for="password">Enter your password</label>
            <input type="password" class="form-control" name="pw" placeholder="Enter your password..." required class="required">
        </div>
        <input type="submit" value="Login" class="btn btn-outline-success">
    </form>

{% endblock %}