{% extends "profile_base.html" %}

{% block title %} {{user.username}} - Profile {% endblock %}

{% block content %}

    <div>
        <div class="profileIcon" style="display: inline-block; vertical-align: middle;">
            {% if user.icon %}
                <p>NEED TO DISPLAY THE USER'S ICON</p>
            {% else %}
                <img src="{{url_for('profile.static', filename='user.png')}}" width="100px" height="100px">
                <!-- Source: https://www.flaticon.com/free-icons/user -->
            {% endif %}
        </div>
        <div style="display: inline-block; vertical-align: middle; padding-left: 20px;">
            <h1>Your Profile ({{user.username}})</h1>
            <small class="text-muted" style="padding-left: 15px;">Bio: <i>{{user.bio}}</i></small>
        </div>
    </div>



    <hr style="border-top: 1px solid black;"><br>

    <div class="profileContent">
        <div class="profileTabs">
            <div class="profileTab" id="details_tab" onclick="tabClick('details')" name="tab_button" style="border-right: 1px solid black;">Details</div>
            <div class="profileTab" id="music_tab" onclick="tabClick('music')" name="tab_button">Music</div>
            <div class="profileTab" id="posts_tab" onclick="tabClick('posts')" name="tab_button" style="border-left: 1px solid black;">Posts</div>
        </div>
        <div id="details_content" name="tab_content" style="display: none;" class="tabContent">
            <div style="text-align: left;">
                <p>
                {% if user.country %} Country: {{user.country}} {% endif %}<br>
                {% if user.city %} City: {{user.city}} {% endif %}
                <p>
                    Editor Score: {{user.editor_score}}<br>
                    Friends: {{user.getFriendLinks() | length}}
                </p>
            </div>
        </div>

        <div id="music_content" name="tab_content" style="display: none;" class="tabContent">
            <div style="text-align: left;">
                <h3>Favourite Genres:</h3>
                {% if user.getGenres() | length > 0 %}
                    <ol>
                    {% for genre in user.getGenres(True) %}
                        <li>{{genre.genre}}</li>
                    {% endfor %}
                    </ol>
                {% else %}
                    <p>This user has not favourited any genres yet.</p>
                {% endif %}
                <br>
                <h3>Favourite Bands:</h3>
                {% if user.getFavourites() %}
                    <ul style="list-style: none;">
                        {% for band in user.getFavourites(sort=True) %}
                            <li>{% if band.ranking > 0 %}{{band.ranking}}){% endif %} {{band.getBand().name}}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>This user has not favourited any bands yet.</p>
                {% endif %}
                <br>
                <h3>Instruments:</h3>
            </div>
            {% if user.getInstruments() | length > 0 %}
            <table style="width: 100%; border: 1px solid black; text-align: center;" class="table table-bordered">
                <thead class="table table-dark">
                    <th>Instrument</th>
                    <th>Details</th>
                    <th>Level</th>
                    <th>Year Started</th>
                </thead>
                <tbody>
                    {% for inst in user.getInstruments() %}
                        <tr>
                            <td>{{inst.instrument}}</td>
                            <td>{% if inst.details %}{{inst.details}}{% else %}N/A{% endif %}</td>
                            <td>{% if inst.level %}{{inst.level}}{% else %}N/A{% endif %}</td>
                            <td>{% if inst.year %}{{inst.year}}{% else %}N/A{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            {% else %}
            <p>This user has not selected any instruments that they can play yet.</p>
            {% endif %}
        </div>

        <div id="posts_content" name="tab_content" style="display: none;" class="tabContent">
            <div style="text-align: center;">
                {% if user.getPosts() %}
                    {% for post in user.getPosts() %}
                        <div class="outer0">
                            <div class="inner">
                                <div class="image"><img class="p-img" src=""></div>
                                <p data-toggle="tooltip" data-placement="top" title="Date posted: {{post.date.strftime('%d/%m/%Y, %H:%M')}}" style="font-size: 15px; letter-spacing: 2px; text-overflow: ellipsis;">
                                    <a href="/mh/profile/{{post.user}}#{{post.id}}">{{user.username}}:</a> {{post.caption}}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>This user has not made any posts yet.</p>
                {% endif %}
            </div>
        </div>
    </div>


    <script>
        window.onload = function() {
            tabClick("details");
        }

        function tabClick(value) {
            // Highlights the tab that is currently selected and displays the necessary content.
            // Unselect all tabs/content
            for (let b of document.getElementsByName("tab_button")) {
                b.setAttribute("class", "profileTab");
            }
            for (let b of document.getElementsByName("tab_content")) {
                b.setAttribute("style", "display: none;");
            }

            // Select necessary tab/content
            document.getElementById(value + "_tab").setAttribute("class", "profileTab activeTab");
            document.getElementById(value + "_content").setAttribute("style", "color: display: block;");
        }  
    </script>
{% endblock %}