{% extends "profile_base.html" %}

{% block title %} {{user.username}} - Profile {% endblock %}

{% block content %}

    <h1 style="float: left">Your Profile ({{user.username}})</h1>
    <div style="float: right; text-align: center;">
        <img src="{{url_for('profile.static', filename='user.png')}}" width="72px" height="72px"><br>
        <small class="text-muted" style="font-size: xx-small;"><a href="https://www.flaticon.com/free-icons/user" title="user icons" style="color: black" target="_blank">source</a></small>
    </div>
    <br><br><br><br>

    <p>To display: Posts, Bands</p>
    <table style="width: 100%">
        {% if bio %}
            <td>Bio: {{user.bio}}</td>
        {% endif %}
        <td>Editor Score: {{user.editor_score}}</td>
        <td>Friends: {{user.GetFriendLinks() | length}}</td>
        {% if user.band_status %}
            <td>Band Status: {{user.band_status}}</td>
        {% endif %}
    </table>
    <br>
    {% if user.GetInstruments() | length > 0 %}
    <table style="width: 100%; border: 1px solid black; text-align: center;" class="table table-bordered">
        <thead class="table table-dark">
            <th>Instrument</th>
            <th>Details</th>
            <th>Level</th>
            <th>Year Started</th>
        </thead>
        <tbody>
            {% for inst in user.GetInstruments() %}
                <tr>
                    <td>{{inst.instrument}}</td>
                    <td>{% if inst.details %}{{inst.details}}{% else %}N/A{% endif %}</td>
                    <td>{% if inst.level %}{{inst.level}}{% else %}N/A{% endif %}</td>
                    <td>{% if inst.year %}{{inst.year}}{% else %}N/A{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    {% else %}
    <p>This user has not selected any instruments that they can play yet.</p>
    {% endif %}

    {% if user.GetGenres() | length > 0 %}
    <table style="width: 100%; border: 1px solid black; text-align: center;" class="table table-bordered">
        <thead class="table table-dark">
            <th>Genre</th>
            <th>Ranking</th>
        </thead>
        <tbody>
            {% for genre in user.GetGenres(sort=True) %}
                <tr>
                    <td>{{genre.genre}}</td>
                    <td>{% if genre.ranking > 0 %}{{genre.ranking}}{% else %}Not Ranked{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    {% else %}
    <p>This user has not favourited any genres yet.</p>
    {% endif %}

    {% if user.GetFavourites() | length > 0 %}
    <table style="width: 100%; border: 1px solid black; text-align: center;" class="table table-bordered">
        <thead class="table table-dark">
            <th>Band</th>
            <th>Ranking</th>
            <th>Band Genres</th>
        </thead>
        <tbody>
            {% for fav in user.GetFavourites(sort=True) %}
                <tr>
                    <td>{{fav.GetBand().name}}</td>
                    <td>{% if fav.ranking > 0 %}{{fav.ranking}}{% else %}Not Ranked{% endif %}</td>
                    <td>{{fav.GetBand().GetGenreString()}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    {% else %}
    <p>This user has not favourited any bands yet.</p>
    {% endif %}

    <hr style="border-top: 1px solid black;"><br>
    <div style="text-align: center;">
        {% if user.GetPosts() %}
            {% for post in user.GetPosts() %}
                <div class="outer0">
                    <div class="inner">
                        <div class="image"><img class="p-img" src=""></div>
                        <p data-toggle="tooltip" data-placement="top" title="Date posted: {{post.date.strftime('%d/%m/%Y, %H:%M')}}" style="font-size: 15px; letter-spacing: 2px; text-overflow: ellipsis;">
                            <a href="/mh/profile/{{post.user}}#{{post.id}}">{{user.username}}:</a> {{post.caption}}
                        </p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>This user has not made any posts yet.</p>
        {% endif %}
    </div>

{% endblock %}