{% extends "profile_base.html" %}

{% block title %} {{user.username}} - Profile Settings {% endblock %}

{% block content %}

    <h1>Profile Settings</h1><br>

    <div class="formList">
        <h3>Profile Details:</h3><br>
        <form method="POST" action="{{url_for('profile.HandleName')}}">
            <div class="form-group">
                <label for="name">Enter your name:</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="name" placeholder="Enter your name" {% if user.name %}value="{{user.name}}"{% endif %}>
                    <input type="submit" class="btn btn-outline-success" value="Enter">
                </div>
            </div>
        </form>
        <form method="POST" action="{{url_for('profile.HandleDob')}}">
            <div class="form-group">
                <label for="dob">Enter your date of birth:</label>
                <div class="input-group">
                    <input type="date" class="form-control" name="dob" placeholder="Enter your date of birth" {% if user.dob %}value="{{user.dob}}"{% endif %}>
                    <input type="submit" class="btn btn-outline-success" value="Enter">
                </div>
            </div>
        </form>
        <form method="POST" action="{{url_for('profile.HandleBio')}}">
            <div class="form-group">
                <label for="bio">Enter your bio:</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="bio" placeholder="Enter your bio" {% if user.bio %}value="{{user.bio}}"{% endif %}>
                    <input type="submit" class="btn btn-outline-success" value="Enter">
                </div>
            </div>
        </form>
        <form method="POST" action="">
            <div class="form-group">
                <label for="icon">Upload your profile picture:</label>
                <div class="input-group">
                    <input type="file" value="WIP" class="form-control">
                    <input type="submit" class="btn btn-outline-success" value="Upload" disabled>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="formList">
        <h3>Manage Instruments:</h3><br>
        <select id="instrument_select" class="form-control" onchange="getSelectedObject('instrument');">
            <option value="Add New" selected> + Add New</option>
            {% for inst in user.getInstruments() %}
                <option value="{{inst.id}}">{{inst.instrument}}</option>
            {% endfor %}
        </select>
        <hr>
        <form method="POST" action="{{url_for('profile.HandleNewInstrument')}}" id="instrument_add">
            <div class="form-group">
                <label for="instrument_search">Begin typing the instrument's name and then select from the options below</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="instrument_search" placeholder="Instrument name..." id="instrument_search"  onkeyup="get('instrument')">
                    <button class="btn btn-outline-danger" type="button" onclick="clear('instrument')">Clear Instrument</button>
                </div>
                <p class="AddedInstruments" id="added_instrument">Added instrument: </p>
                <div id="searchResults_instrument"></div>
                <a href="/help/missing#instrument" id="instrument_missing" style="display: none;">Missing instruments? Let us know!</a><br>
                <input type="hidden" id="instruments" name="instruments">
                
                <div class="form-group">
                    <label for="year">Enter the year you started playing:</label>
                    <input type="number" name="year" min="1900" max="{{year}}" step="1" value="{{year}}" required class="required">
                </div>
                <div class="form-group">
                    <label for="level">Enter your grading/level, if applicable:</label>
                    <input type="text" class="form-control" name="level" placeholder="Enter your grade/level...">
                    <small class="form-text text-muted">Type "Ungraded." if you aren't doing grades.</small>
                </div>
                <div class="form-group">
                    <label for="details">Enter any additional details:</label>
                    <textarea name="details" placeholder="Enter any additional details..." class="form-control" rows="2"></textarea>
                </div>
                <input type="submit" class="btn btn-outline-success" value="Add" onclick="return checkEntered('instrument', true)"> 
            </div>
        </form>
        {% for inst in user.getInstruments() %}
            <form method="POST" action="{{url_for('profile.HandleUpdateInstrument')}}" style="display:none;" id="instrument_{{inst.id}}">
                <div class="form-group">
                    <div class="form-group">
                        <label for="instrument_search">Selected instrument:</label>
                        <input type="text" class="form-control" disabled value="{{inst.instrument}}">
                        <input type="hidden" name="instruments" value="{{inst.instrument}}">
                    </div>
                    
                    <div class="form-group">
                        <label for="year">Enter the year you started playing:</label>
                        <input type="number" name="year" min="1900" max="{{year}}" step="1" required value="{{inst.year}}" class="required">
                    </div>
                    <div class="form-group">
                        <label for="level">Enter your grading/level, if applicable:</label>
                        <input type="text" class="form-control" name="level" placeholder="Enter your grade/level..." {% if inst.level %}value="{{inst.level}}"{% endif %}>
                        <small class="form-text text-muted">Type "Ungraded." if you aren't doing grades.</small>
                    </div>
                    <div class="form-group">
                        <label for="details">Enter any additional details:</label>
                        <textarea name="details" placeholder="Enter any additional details..." class="form-control" rows="2">{% if inst.details %}{{inst.details}}{% endif %}</textarea>
                    </div>
                    <input type="submit" class="btn btn-outline-danger" value="Delete" name="delete"> 
                    <input type="submit" class="btn btn-outline-success" value="Update"> 
                </div>
            </form>
        {% endfor %}
    </div>
    <hr>
    <div class="formList">
        <h3>Your Location:</h3><br>
        <form method="POST" action="{{url_for('profile.HandleSetCountry')}}" id="country_add">
            <div class="form-group">
                <label for="country">Begin typing your country and then select from the options below</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="country_search" placeholder="Enter the name of your country..." id="country_search"  onkeyup="get('country')">
                    <button class="btn btn-outline-danger" type="button" onclick="clear('country')">Clear Country</button>
                </div>
                <p class="AddedCountry" id="added_country">Added country: {% if user.country %}{{user.country}}{% endif %}</p>
                <div id="searchResults_country"></div>
                <a href="/help/missing#country" id="country_missing" style="display: none;">Missing countries? Let us know!</a><br>
                <input type="hidden" id="countrys" name="countries" {% if user.country %}value="{{user.country}}"{% endif %}>
            </div>
            <input type="submit" class="btn btn-outline-success" value="Set Country"> 
        </form><hr>
        <form method="POST" action="{{url_for('profile.HandleSetCity')}}" id="city_add">
            <div class="form-group">
                <label for="city">Begin typing your city and then select from the options below</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="city_search" placeholder="Enter the name of your city..." id="city_search"  onkeyup="get('city')">
                    <button class="btn btn-outline-danger" type="button" onclick="clear('city')">Clear City</button>
                </div>
                <p class="AddedCity" id="added_city">Added city: {% if user.city %}{{user.city}}{% endif %}</p>
                <div id="searchResults_city"></div>
                <a href="/help/missing#city" id="city_missing" style="display: none;">Missing cities? Let us know!</a><br>
                <input type="hidden" id="citys" name="cities" {% if user.city %}value="{{user.city}}"{% endif %}>
            </div>
            <input type="submit" class="btn btn-outline-success" value="Set City"> 
        </form><hr>
        <form method="POST" action="{{url_for('profile.HandleSetWork')}}">
            <div class="form-group">
                <label for="work">Begin typing your place of work/education and then select from the options below, or click add new</label>
                <input type="text" class="form-control" name="work" placeholder="Enter your place of work...">
            </div>
            <input type="submit" class="btn btn-outline-success" value="Set Work"> 
        </form>
    </div>
    <hr>
    <div class="formList" id="genres">
        <h3>Preferred Genres:</h3><br>
        <form method="POST" action="{{url_for('profile.HandleGenres')}}" id="genre_add">
            <input type="hidden" value="{{user.getGenres() | length}}" name="genre_count" id="genre_count" class="btn btn-outline-success">
            <!-- NOTE: THIS IS STARTING FROM ** 1 **. -->
            <div id="genreBox">
            </div>
            <input type="submit" class="btn btn-outline-success" value="Update">
        </form><br><hr>
        <label for="genre">Begin typing the genre and then select from the options below</label>
        <div class="input-group">
            <input type="text" class="form-control" name="genre_search" placeholder="Enter the new genre..." id="genre_search"  onkeyup="getGenre('genre')">
            <button class="btn btn-outline-danger" type="button" onclick="clearGenre('genre')">Clear Genre</button>
        </div>
        <div id="searchResults_genre"></div>
        <a href="/help/missing#genre" id="genre_missing" style="display: none;">Missing genres? Let us know!</a><br>
    </div>
    

    <script>
        window.onload = function() {
            window["dict"] = reloadDict();
            window["user_"] = {
                "instrument": JSON.parse('{{user_instruments | tojson | safe}}'),
            };
            window["genres"] = JSON.parse('{{user_genres | tojson | safe}}');
            setUpForm();
        }

        function reloadDict() {
            return {
                "instrument": Filter("{{instruments}}"),
                "country": Filter("{{countries}}"),
                "city": Filter("{{cities}}"),
                "genre": Filter("{{genres}}")
            };
        }
    </script>
    <script src="{{url_for('profile.static', filename='autofiller.js')}}"></script>
    <script src="{{url_for('profile.static', filename='selection.js')}}"></script>
    <script src="{{url_for('profile.static', filename='genres.js')}}"></script>
{% endblock %}