{% extends "admin_base.html" %}

{% block title %} Admin Missing {% endblock %}

{% block content %}

    <h1>Admin: Missing Reports</h1><br>

    {% if missing %}
        {% for m in missing %}
            <div class="formList">
                <form method="POST" action="{{url_for('admin.HandleMissing')}}">
                    <h3>Type: {{m.type}}, value: {{m.value}}</h3>
                    <input type="hidden" name="id" value="{{m.id}}">
                    <div class="form-group">
                        <label for="response">Enter Response (leave blank for no response)</label>
                        <textarea name="response" placeholder="Enter your response..." class="form-control" rows="3">{% if response %}{{response}}{% endif %}</textarea>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-outline-success">
                </form>
            </div>
            <br>
        {% endfor %}
    {% else %}
            <p>No outstanding missing reports!</p>
    {% endif %}

{% endblock %}